
<nav class="navbar navbar-light  mb-4" style="background-color: #e8a6fc;">
 <div class="container">
        <a >My app</a>
         <a href="/" class="navbar-brand" >Inicio</a>
        <a href="/alumnoAgregar" class="navbar-brand">Alumno</a>
       <a href="/materiaAgregar" class="navbar-brand">Asignatura</a>
       <a href="/profesorAgregar" class="navbar-brand" >Profesor</a>
    
    </div>  
</nav>

