<div class="form-row car-body mb-4 rounded-0 text-dark form-sm">

<form action="/profesor/agregar" method="POST">
    <h1>Agregar Profesor</h1>
    <div>
        <label for="rfc">RFC:</label>
        <input type="text" name="rfc" placeholder="RFC" id="rfc" class="form-control bg-ligth text-dark" />
    </div>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Nombre" id="nombre"  class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="paterno">Apellido paterno:</label>
        <input type="text" name="paterno" placeholder="Paterno" id="paterno" class="form-control bg-ligth text-dark" />
    </div>
    <div>
        <label for="materno">Apellido materno:</label>
        <input type="text" name="materno" placeholder="Materno" id="materno" class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="fechaNacimiento">Fecha nacimiento:</label>
        <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="direccion">Direccion:</label>
        <input type="text" name="direccion" placeholder="Direccion" id="direccion" class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="celular">Celular:</label>
        <input type="number" name="celular" placeholder="Celular" id="celular" class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="profesion">Profesion:</label>
        <input type="text" name="profesion" placeholder="Profesion" id="profesion" class="form-control bg-ligth text-dark"/>
    </div>
    <div>
        <label for="numeroEmpleado">Numero de Empleado:</label>
        <input type="number" name="numeroEmpleado" placeholder="Numero de Empleado" id="numeroEmpleado" class="form-control bg-ligth text-dark"/>
    </div>
    <button style="background-color: rgb(197, 139, 189)" class="btn btn-outline-light btn-sm mt-4">Agregar</button>
</form>
</div>