<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{> alumnos/alumnosForm}}
        </div>
           <div class="col-md-3">
            {{> alumnos/alumnosTabla}}
        </div>
    </div>
</div>

